.task{
    display: flex;
    background-color: #bedcfb;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    border-radius: 15px;
    font-weight: bold;
    transition: transform 0.3s ease; 
    gap: 10px;
}

.task:hover{
    transform: scale(1.05);
}

.task:nth-child(even) {
    background-color: #d5eaff;
    color: black;
    
}

.task:nth-child(odd) {
    background-color: #5aa8f6;
    color: white;
}

.task-name {
    text-transform: capitalize;
  }
.task.done .task-name {
    text-decoration: line-through;
}
