.addNotes-container{
    width: 90svw;
    height: 70svh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary);
    padding: 30px 40px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px var(--box-shadow); 
    animation: scaleUp2 .3s ease-out;
}

@keyframes scaleUp2 {
    from {
        transform: translate(var(--x),var(--y)) scale(0); 
    }
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}


.addNotes-container form{
      height: 100%;
      display: flex;
      flex-direction: column;    
    }
    
    .addNotes-container form #title{
        flex: 2;
        border: none;
        font-size: 1rem;
        padding: 10px;
        background-color: var(--primary);
        color: var(--text-color);
    }
    
    .addNotes-container form #content{
        flex: 16;
        border: none;
        font-size: 1rem;
        padding: 10px;
        background-color: var(--primary);
        color: var(--text-color);
        font-weight: 400;
    }
    
    .addNotes-container form #importance{
        flex: 1;
        padding: 10px;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        background-color: #f8f8f8;
        background-color: var(--primary);
        color: var(--text-color);
    }
.addNotes-container form button{
    flex: 1;
    margin-top: 10px;
    font-size: 1.25rem;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    text-shadow: 0 0 1px rgb(76, 76, 76);   
    cursor: pointer;
}

.dark-theme .addNotes-container form button{
    background-color: var(--base);
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(0, 0,0,.4);
    backdrop-filter: blur(2px);
    z-index: 1000;
}
.overlay-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem !important;
    filter: drop-shadow(0 0 1px rgb(102, 102, 102));
}