.todo{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation: slideUp 0.5s ease-out ;
  padding: 0px 20px;
}
@keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  
  .task-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
    .todo-date{
      margin: 10px;
      font-weight: 600;
    }
