@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ojuju:wght@200..800&display=swap');


.app-container{
  height: 90svh;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navbar{
  height: 10svh;
  color: #157dec;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.navbar h1{
  font-size: 3rem;
}

.main-content{
  height: 90svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-content .image-container{
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content img{
  display: block;
  max-width: 90%;
  max-height: 100%;
}

.bottom-panel{
  height: 40%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  /*handle button stretch*/
  min-width: 300px;
  gap: 30px;
}

.bottom-panel p {
  padding: 0 15px;
  text-align: center;
  font-size: 2rem; 
  color: #87c1ff;
}

.bottom-panel button {
  font-family: "Montserrat", sans-serif;
  padding: 15px 30px; 
  font-size: 1rem; 
  color: #fff;
  background-color: #007BFF; 
  border: none;
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.bottom-panel button:hover {
  background-color: #0a64c4; 
}

