@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.note-container{
    position: relative;
    /* min-width in  defined in notes with the help of grid*/
    height: 200px;
    border-radius: 20px;
    padding: 10px 15px;
    box-shadow: 0px 0px 10px #cbe4ff; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.2s ease;
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
    transition: background-color 0.5s ease;
}

.note-container:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.note-container__active{
    width: 80svw;
    height: 70svh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(224, 179, 244);
    padding: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #dbecfe; 
    animation: scaleUp .2s linear;
}

@keyframes scaleUp {
    from {
      transform: translate(var(--x),var(--y)) scale(0); 
    }
    to {
      transform: translate(-50%, -50%) scale(1);
    }
  }

.note-day{
    font-size: .5rem;
    background-color: rgb(255, 157, 157);
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
   border-radius: 30px;
}

.note-title{
    height: 20%;
    font-size: 1.25rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.note-title::first-letter {
    text-transform: capitalize;
}
.note-title__active{
    height: fit-content;
    font-size: 1.25rem;
}
.note.note-title__active::first-letter {
    text-transform: capitalize;
}


.note-content{
    font-size: .75rem;
    overflow: hidden;
    height: 80%;
    font-weight: 200;
}
.note-content__active{
    font-size: .75rem;
    overflow: auto;
    height: 80%;
    font-weight: 400;
}

.note-date{
    font-size: .5rem;
    color: rgb(255, 101, 101);
}


.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(0, 0,0,.4);
    backdrop-filter: blur(2px);
    z-index: 1000;
}
.note-container__active .overlay-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem !important;
    filter: drop-shadow(0 0 1px rgb(102, 102, 102));
    cursor: pointer;
    color: var(--active--text-color);
}

.note-deleteIcon{
    position: absolute;
    top: 10px;
    right: 10px;
}

.dark-theme .note-container{
    filter: brightness(1) invert(1);
}

.dark-theme .note-container__active{
    filter: brightness(1) invert(1);
}

.note-title__active{
    background-color: transparent;
    border: none;
}

.note-content__active{
    background-color: transparent;
    border: none;
}
